/*
Color palette:
light background/text : #F9FAFA
light accent : #F4D052
main brand color : #61BFC4
dark accent : #BE6F61
dark shades/text : #285B64
*/
*{
    background-color:#F9FAFA;
    color: #285B64;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

h1 {
    color: #61BFC4;
    font-size: 50px
}

img {
    width: auto;
    height: 500px; 
}

.description {
    font-size : 18px;
    font-style: italic;
}

h2,
h3,
h4 {
    color : #BE6F61;
    font-size: 20px; 
}