/*
Color palette:
light background/text : #F9FAFA
light accent : #F4D052
main brand color : #61BFC4
dark accent : #BE6F61
dark shades/text : #285B64
*/
*{
    background-color:#F9FAFA;
    color: #285B64;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}

img {
    width: 600px;
    height: auto;
}
h1 {
    color: #61BFC4;
    font-size: 50px
}
.recipes {
    font-size: 25px;
}
